<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Form</title>
  </head>
  <body>
    <h1>Leave a Message</h1>
    <form action="/new" method="post">
      <label for="name"></label>
      <input
        type="text"
        id="name"
        name="user"
        placeholder="Your Name"
        required
      />
      <label for="message"></label>
      <textarea
        id="message"
        name="text"
        placeholder="Your Message"
        required
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
