<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <a href="/new">Add a New Message</a>
    <ul>
      <% messages.forEach((message, index) => { %>
      <li>
        <%= message.user %>: <%= message.text %> (<%= message.added %>)
        <a href="/messages/<%= index %>">Open</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
